# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/main/web_ui/node_modules
/main/web_ui/.pnp
/main/web_ui/.pnp.js


/main/node_serv/node_modules
/main/node_serv/.pnp
/main/node_serv/.pnp.js


# testing
/main/web_ui/coverage
/main/node_serv/coverage

# production
/main/web_ui/build

# misc node
/main/web_ui/.DS_Store
/main/web_ui/.env.local
/main/web_ui/.env.development.local
/main/web_ui/.env.test.local
/main/web_ui/.env.production.local

/main/web_ui/npm-debug.log*
/main/web_ui/yarn-debug.log*
/main/web_ui/yarn-error.log*


/main/web_ui/package.json
/main/web_ui/package-lock.json

/main/web_ui/packagejson.sh
/main/web_ui/packagejson.bat

/main/web_ui/startdevwc.bat
/main/web_ui/cstartdevw.bat
/main/web_ui/cstartdev.bat
/main/web_ui/cstartdev.sh
/main/web_ui/startdevc.sh



/main/web_ui/src/components/custom
/main/web_ui/src/components/cviews
/main/web_ui/src/components/views/custom
/main/web_ui/src/components/views/custom_*
/main/web_ui/src/components/custom_*
/main/web_ui/src/custom_*


# misc node
/main/node_serv/.DS_Store
/main/node_serv/.env.local
/main/node_serv/.env.development.local
/main/node_serv/.env.test.local
/main/node_serv/.env.production.local

/main/node_serv/npm-debug.log*
/main/node_serv/yarn-debug.log*
/main/node_serv/yarn-error.log*


/main/node_serv/package.json
/main/node_serv/package-lock.json
/main/node_serv/packagejson.sh
/main/node_serv/packagejson.bat

/main/node_serv/l_node_modules_auto_*
/main/node_serv/cust_folder_*
/main/node_serv/cust_*.js

/main/node_serv/startdevwc.bat
/main/node_serv/cstartdevw.bat
/main/node_serv/cstartdev.bat
/main/node_serv/startdevc.sh
/main/node_serv/cstartdev.sh


/main/node_serv/modules/custom_*
/main/node_serv/modules/customdb_*
/main/node_serv/custom_*
/main/custom_*
/custom_*

#data
/main/data/settings.json

/main/data/db1
/main/data/dbs
/main/data/dbs_*
/main/data/usershome
/main/data/public


#
/main/temp
/main/backups
/main/custom
/main/logs


/main/ignoreme
/main/.ignoreme
/main/.cert

/main/startdevc.sh

















